[Desktop Entry]
Name=WebApp Manager
Comment=Create and manage web applications
Type=Application
Exec=@exe@
Terminal=false

Categories=Network;GTK;GNOME;
Keywords=webapp;browser;chromium;website;pwa;

Icon=io.github.sheikhhaziq.WebappManager

StartupNotify=true
StartupWMClass=io.github.sheikhhaziq.WebappManager